@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "DM Sans", sans-serif, "Titan One", cursive;
  font-style: normal;
  color: #333333;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --section-color-top: #ffb8ca;
  --section-color-botom: #fff5f6;
  --section-color-mobmenu: #e17992;
  --light-color: #ffffff;
  --accent-color: #d41443;
  --hover-btn-dark: #c7133e;
  --hover-btn-light: #ecebeb;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  background-color: var(--section-color-top);
  position: relative;
  padding-top: 194px;
  padding-bottom: 158px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 94px;
    padding-bottom: 16px;
  }
  .hero .container {
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 147px;
    padding-bottom: 60px;
  }
}

.hero--ellipse-pic {
  position: absolute;
  right: 0;
  bottom: 75px;
  width: 284px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .hero--ellipse-pic {
    left: 53%;
    top: -60px;
    width: 335px;
    transform: translate(-46%);
  }
}
@media screen and (min-width: 1200px) {
  .hero--ellipse-pic {
    left: 60%;
    top: -90px;
    width: 534px;
    transform: translate(-50%);
  }
}

.hero--icecream-pic {
  position: absolute;
  right: 32;
  bottom: 0;
  width: 171px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .hero--icecream-pic {
    left: 48%;
    bottom: -16px;
    width: 143px;
    transform: translate(-30%);
  }
}
@media screen and (min-width: 1200px) {
  .hero--icecream-pic {
    left: 54%;
    bottom: -60px;
    width: 236px;
  }
}

@media screen and (min-width: 768px) {
  .hero--top-text {
    display: flex;
    justify-content: space-between;
  }
}

.hero--title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 218px;
  color: var(--light-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero--title {
    font-size: 22px;
    line-height: 1.13;
    max-width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .hero--title {
    font-size: 38px;
    line-height: 1.15;
    max-width: 277px;
    margin-bottom: 24px;
  }
}

.hero--title__big {
  font-size: 48px;
  line-height: 1.01;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero--title__big {
    font-size: 34px;
    line-height: 0.88;
  }
}
@media screen and (min-width: 1200px) {
  .hero--title__big {
    font-size: 58px;
  }
}

.amount {
  display: none;
}
@media screen and (min-width: 768px) {
  .amount {
    display: block;
  }
}

.amount--info {
  position: relative;
  margin-right: 10px;
}
.amount--info:first-child {
  margin-bottom: 17px;
}
@media screen and (min-width: 1200px) {
  .amount--info {
    margin-right: 16px;
  }
}

.amount--title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  text-align: end;
}
@media screen and (min-width: 1200px) {
  .amount--title {
    font-size: 46px;
  }
}

.amount--title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  right: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--light-color);
}
@media screen and (min-width: 1200px) {
  .amount--title::before {
    width: 30px;
    height: 30px;
    top: -6px;
    right: -16px;
  }
}

.amount--name {
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  color: var(--light-color);
  text-align: end;
}
@media screen and (min-width: 1200px) {
  .amount--name {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero-list {
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero-list {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-list {
    margin-bottom: 40px;
  }
}

.hero--btn {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 8px;
  line-height: 0.8;
  display: block;
  padding: 8px 14px;
  border-radius: 20px;
}
@media screen and (min-width: 1200px) {
  .hero--btn {
    font-size: 14px;
    line-height: 1.28;
    padding: 11px 24px;
    border-radius: 20px;
  }
}

.hero--btn__dark {
  background-color: var(--accent-color);
  color: var(--light-color);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero--btn__dark:hover, .hero--btn__dark:focus {
  background-color: var(--hover-btn-dark);
}

.hero--btn__light {
  background-color: var(--light-color);
  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero--btn__light:hover, .hero--btn__light:focus {
  background-color: var(--hover-btn-light);
}

.hero--milk {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero--milk {
    display: flex;
    align-items: center;
  }
}

.hero--milk-txt {
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 150%;
  color: var(--light-color);
  margin-bottom: 7px;
  max-width: 114px;
}
@media screen and (min-width: 1200px) {
  .hero--milk-txt {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
    max-width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .icon--tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icon--desk {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .icon--desk {
    display: block;
  }
}

.hero--girl-pic {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero--girl-pic {
    display: block;
    position: absolute;
    bottom: -16px;
    left: 72%;
  }
}
@media screen and (min-width: 1200px) {
  .hero--girl-pic {
    bottom: -60px;
    left: 73%;
    transform: translate(1%);
  }
}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/how-its-made/mobile/mobile-milk-1x.png);
  background-repeat: no-repeat;
  background-position-y: 577px;
  background-size: contain;
  background-color: #FFF5F6;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/how-its-made/mobile/mobile-milk-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 20px;
    padding-bottom: 80px;
    background-image: none;
  }
  .about__info-ligging {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/how-its-made/desktop/milk-1x.png);
    background-position-y: 275px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/how-its-made/desktop/milk-2x.png);
  }
}
.about__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.about__heading {
  margin-bottom: 32px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .about__heading {
    margin: 0;
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.15;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .about__heading {
    margin-bottom: 79px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
.about__img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin: 0;
    margin-right: 32px;
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    margin-right: 139px;
    max-width: 100%;
  }
}

.description {
  margin-right: 60px;
}
@media screen and (min-width: 768px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 334px;
  }
}
@media screen and (min-width: 1280px) {
  .description {
    width: 463px;
    padding-top: 90px;
    padding-bottom: 60px;
  }
}
.description__list {
  list-style: none;
}
.description__item:nth-child(1) {
  margin-bottom: 25px;
}
.description__item:nth-child(2), .description__item:nth-child(3) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .description__item:nth-child(1) {
    margin-bottom: 22px;
  }
  .description__item:nth-child(2) {
    margin-bottom: 15px;
  }
  .description__item:nth-child(3) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .description__item:nth-child(1) {
    margin-bottom: 32px;
  }
  .description__item:nth-child(2) {
    margin-bottom: 32px;
  }
  .description__item:nth-child(3) {
    margin-bottom: 40px;
  }
}
.description__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .description__text {
    font-size: 14px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 1280px) {
  .description__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}
.description__text-color {
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .description__text-color {
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .description__text-color {
    font-size: 14px;
    line-height: 1.7;
  }
}
.description__btn {
  position: relative;
  width: 176px;
  height: 44px;
  padding: 0;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border-radius: 22px;
  border: none;
}
.description__btn:hover, .description__btn:focus {
  background: #ECEBEB;
}
.description__btn-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  margin-left: 37px;
  color: #D41443;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .description__btn-text {
    font-size: 16px;
    line-height: 1.3;
  }
}
.description__btn-icon {
  position: absolute;
  top: 55%;
  right: 38px;
  transform: translateY(-50%);
  fill: #D41443;
}/*# sourceMappingURL=index.css.map */