.contacts-container {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.contacts {
    background: linear-gradient(to bottom, #FFFFFF 23%, #FFF5F6 23%);
    padding-bottom: 24px;

    @include tablet {
        background: linear-gradient(to bottom, #FFFFFF 20%, #FFF5F6 20%);
        padding-bottom: 20px;
    }
    
    @include desktop {
        background: linear-gradient(to bottom, #FFFFFF 15%, #FFF5F6 15%);
        padding-bottom: 60px;
    }
}

.contacts__list {
    margin-bottom: 32px;

    @include tablet {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    @include desktop {
        margin-bottom: 60px;
    }
}

.contacts__item {
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px;
@media screen and (max-width:767px){
    margin-left: auto;
    margin-right: auto;
}

    
    @include tablet {
            width: 224px;
        }

    @include desktop {
        width: 395px;
        padding: 40px;
    }
}
        
.contacts__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
    
    @include tablet {
        margin-right: 32px;
    }
}

.contacts__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;

    @include tablet {
        font-size: 16px;
        line-height: 1.86; 
        border-radius: 6px;
        margin-bottom: 32px;    
    }
}

.contacts__text--cafe-style {
    width: 80px;
    background-color: #F0D1A5;

    @include tablet {        
        width: 73px;
    }
}

.contacts__text--food-style {
    width: 130px;
    background-color: #C2E297;

    @include tablet {        
        width: 138px;
    }
}

.contacts__city {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #000000;

    @include tablet {
        font-size: 14px;
    }
    
    @include desktop {
        font-size: 16px;
    }
}

.contacts__description {
    font-size: 12px;
    line-height: 1.5;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: #907E82;

    @include tablet {
        font-size: 14px;
        line-height: 1.66;
    }

    @include desktop {
        font-weight: 500;
        font-size: 16px;
    }
}

.contacts__description::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;
    margin-top: 24px;
    margin-bottom: 24px;

    @include tablet {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.contacts__working-days {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #000000;

    @include tablet {
        font-size: 14px;
        line-height: 1.86;
    }

    @include desktop {
        font-size: 16px;
        line-height: 1.86;
    }
}

.contacts__working-days--style {
    margin-top: 8px;

    @include tablet {
        margin-top: 12px;
    }
}

.contacts__working-hours {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #FFA5BA;

    @include tablet {
        font-size: 14px;
        line-height: 1.86;
    }
    
    @include desktop {
        font-size: 16px;
        line-height: 1.86;
    }
}

.contacts__working-hours--style::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;
    margin-top: 24px;
    margin-bottom: 24px;
    
    @include tablet {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.cotacts__tell-mail {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;

@include tablet {
        font-size: 14px;
        line-height: 1.83;
    }

    @include desktop {
        font-size: 16px;
        line-height: 1.83;
    }
}

.contacts__wrapper {
    @include tablet {
        display: flex;
        justify-content: center;
    }
}

.contacts__button {
    height: 44px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.37;

    @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }    
}

.contacts__button-locations--style {
    background-color: #D41443;
    color: #FFFFFF;

    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
        }

    @include tablet {
        margin-right: 15px;
    }
    
}

.contacts__button-locations--style:hover,
.contacts__button-locations--style:focus {
    background-color: #D41342;
}



.contacts__button-franchise--style {    
    background-color: #FFFFFF;
    color: #D41443;
    }

.contacts__button-franchise--style:hover,
.contacts__button-franchise--style:focus {
    background-color: #ECEBEB;
}


