.gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  background-image: linear-gradient(
    to bottom,
    var(--section-color-botom) 42%,
    var(--light-color) 42%
  );
}

.gallery-list {
  display: flex;
  justify-content: center;
}

.gallery__item {
  &:not(:last-child) {
    margin-right: 5px;
  }
  display: flex;
  flex-direction: column;
  &:nth-child(1),
  &:nth-child(6) {
    justify-content: center;
  }
  &:nth-child(2) {
    justify-content: center;
    margin-top: 10px;
  }
  &:nth-child(4) {
    justify-content: center;
    margin-bottom: 10px;
  }
  &:nth-child(5) {
    justify-content: center;
    margin-top: 8px;
  }
  @include tablet {
    &:not(:last-child) {
      margin-right: 8px;
    }
    &:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-child(4) {
      margin-bottom: 20px;
    }
    &:nth-child(5) {
      margin-top: 16px;
    }
  }
  @include desktop {
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:nth-child(2) {
      margin-top: 30px;
    }
    &:nth-child(4) {
      margin-bottom: 30px;
    }
    &:nth-child(5) {
      margin-top: 24px;
    }
  }
}

.gallery__img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 4px;
  @include tablet {
    max-width: 90px;
    max-height: 90px;
    border-radius: 8px;
  }
  @include desktop {
    max-width: 140px;
    max-height: 140px;
    border-radius: 12px;
  }
}

.gallery__img--first {
  margin-bottom: 5px;
  @include tablet {
    margin-bottom: 8px;
  }
  @include desktop {
    margin-bottom: 10px;
  }
}

.gallery__img--big {
  max-width: 80px;
  max-height: 80px;
  @include tablet {
    max-width: 180px;
    max-height: 180px;
  }
  @include desktop {
    max-width: 280px;
    max-height: 280px;
  }
}
