<section class="about" id="about">
    <div class="container">
        <p class="about__title">tradition and love</p>
        <h2 class="about__heading">how it’s made?</h2>
        <div class="about__info-ligging">
            <picture>
                <source srcset="./images/how-its-made/desktop/cow-1x.png 1x, 
                    ./images/how-its-made/desktop/cow-2x.png 2x" media="(min-width:1280px)" />
                <source srcset="./images/how-its-made/tablet/tablet-milk-1x.png 1x, 
                    ./images/how-its-made/tablet/tablet-milk-2x.png 2x" media="(min-width:768px)" />
                <source srcset="./images/how-its-made/mobile/cow-mobile-1x.png 1x, 
                    ./images/how-its-made/mobile/cow-mobile-2x.png 2x" media="(min-width:320px)" />
                <img class="about__img" src="./images/how-its-made/mobile/cow-mobile-1x.png"
                    alt="photo-of-a-cow-with-milk" />
            </picture>
            <div class="description">
                <ul class="description__list">
                    <li class="description__item">
                        <p class="description__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                            cursus,
                            faucibus
                            lorem eget, egestas eros.
                            Maecenas eleifend erat at justo fringilla.</p>
                    </li>
                    <li class="description__item">
                        <p class="description__text description__text-color">Curabitur lacinia enim at ex blandit, vel
                            pellentesque odio
                            elementum. Mauris rhoncus orci in imperdiet placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                            tincidunt.</p>
                    </li>
                    <li class="description__item">
                        <p class="description__text description__text-color">Aliquam erat volutpat. Aenean accumsan.</p>
                    </li>
                </ul>
                <button class="description__btn" type="button"><span class="description__btn-text">Read more</span>
                    <svg class="description__btn-icon" width="7" height="10">
                        <use href="./images/symbol-defs.svg#icon-more"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>