<section class="customer-reviews">
    <div class="container swiper slider-card">
        <h2 class="visually-hidden">customer-reviews</h2>
        <ul class="customer-reviews-list list swiper-wrapper">
            <li class="customer-reviews__item swiper-slide">
            <img
                    class="customer-reviews__img"
                    srcset="
                    ./images/comments/comments-1-1x.png 1x,
                    ./images/comments/comments-1-2x.png 2x"
                    src="./images/comments/comments-1-1x.png"
                    alt="Emily"
                />
                <p class="customer-reviews__par">
                    Very tasty ice cream. Pleasant relaxed atmosphere in the institution creates an unforgettable atmosphere and sensations. Friendly staff who are always ready to help.
                </p>
                <h3 class="customer-reviews__header">Marta, Chicago</h3>
            </li>
            <li class="customer-reviews__item swiper-slide">
                <img
                    class="customer-reviews__img"
                    srcset="
                    ./images/comments/comments-2-1x.png 1x,
                    ./images/comments/comments-2-2x.png 2x"
                    src="./images/comments/comments-2-1x.png"
                    alt="Emily"
                />
                <p class="customer-reviews__par">
                    Very tasty ice cream. Pleasant relaxed atmosphere in the institution creates an unforgettable atmosphere and sensations. Friendly staff who are always ready to help.
                </p>
                <h3 class="customer-reviews__header">Emily, Los Angeles</h3>
            </li>
            <li class="customer-reviews__item swiper-slide">
                <img
                    class="customer-reviews__img"
                    srcset="
                    ./images/comments/comments-3-1x.png 1x,
                    ./images/comments/comments-3-2x.png 2x "
                    src="./images/comments/comments-3-1x.png"
                    alt="Emily"
                />
                <p class="customer-reviews__par">
                    Very tasty ice cream. Pleasant relaxed atmosphere in the institution creates an unforgettable atmosphere and sensations. Friendly staff who are always ready to help.
                </p>
                <h3 class="customer-reviews__header">Erika, New York</h3>
            </li>
            
        </ul>
        <div class="swiper-pagination"></div>
    </div>
</section>
