<section class="customer-reviews">
    <div class="container">
        <h2 class="visually-hidden">customer-reviews</h2>
        <ul class="customer-reviews-list list">
            <li class="customer-reviews__item">
                <img class="customer-reviews__img"
                    srcset="
                ./images/comments/comments-2-1x.png   1x,
                ./images/comments/comments-2-1x.png 2x"
                    src="./images/comments/comments-2-1x.png" 
                    alt="Emily">
                <div class="customer-reviews__decor">
                    <img class="customer-reviews__fon" src="./images/comments/quotes-1x.png" alt="quotes">
                    <p class="customer-reviews__par">Very tasty ice cream. Pleasant relaxed atmosphere in the institution creates an unforgettable atmosphere and sensations. Friendly staff who are always ready to help.</p>
                </div>    
                <h3>Emily, Los Angeles</h3>
            </li>
        </ul>
    </div>
</section>