<footer class="footer">
  <div class="container">
    <div class="footer-flex-container">
      <div class="footer-flex-1">
        <div class="footer-text">
          <p class="footer-text__one">homemade ice cream made</p>
          <p class="footer-text__two">with passion</p>
        </div>
      </div>
      <div class="footer-flex-2">
        <div class="footer-social">
          <ul class="footer-soc-list">
            <li class="footer-soc-list__item">
              <a href="https://github.com/" target="_blank" rel="nofollow noopener noreferrer"
                class="footer-soc-list__icon">
                <svg class="footer-soc-list__svg" width="19px" height="19px">
                  <use href="./images/symbol-defs.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-list__item">
              <a href="https://web.telegram.org/k/" target="_blank" rel="nofollow noopener noreferrer"
                class="footer-soc-list__icon">
                <svg class="footer-soc-list__svg" width="19px" height="19px">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-list__item">
              <a href="https://www.facebook.com/" target="_blank" rel="nofollow noopener noreferrer"
                class="footer-soc-list__icon">
                <svg class="footer-soc-list__svg" width="19px" height="19px">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-address">
          <address>
            <p class="footer-address__text">
              Feel free to contact
              <a href="tel:+61(0)383766284" class="footer-address__tel">+61 (0) 383 766 284</a>
            </p>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copywright">
    <p class="footer-copywright__text">
      © 2019 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>