<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">gallery</h2>
        <ul class="gallery-list list">
            <li class="gallery__item">
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-1-min.jpg"><img class="gallery__img" src="/src/images/mansory layout/gallery-mini/gal-1-mini-min.jpg" alt="gal-1"></a>
            </li>
            <li class="gallery__item">
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-2-min.jpg"><img class="gallery__img gallery__img--first" src="/src/images/mansory layout/gallery-mini/gal-2-mini-min.jpg" alt="gal-2"></a>
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-3-min.jpg"><img class="gallery__img" src="/src/images/mansory layout/gallery-mini/gal-3-mini-min.jpg" alt="gal-3"></a>
            </li>
            <li class="gallery__item">
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-4-min.jpg"><img class="gallery__img gallery__img--first gallery__img--big" src="/src/images/mansory layout/gallery-mini/gal-4-mini-min.jpg" alt="gal-4"></a>
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-5-min.jpg"><img class="gallery__img" src="/src/images/mansory layout/gallery-mini/gal-5-mini-min.jpg" alt="gal-5"></a>
            </li>
            <li class="gallery__item">
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-6-min.jpg"><img class="gallery__img gallery__img--first" src="/src/images/mansory layout/gallery-mini/gal-6-mini-min.jpg" alt="gal-6"></a>
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-7-min.jpg"><img class="gallery__img" src="/src/images/mansory layout/gallery-mini/gal-7-mini-min.jpg" alt="gal-7"></a>
            </li>
            <li class="gallery__item">
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-8-min.jpg"><img class="gallery__img gallery__img--first" src="/src/images/mansory layout/gallery-mini/gal-8-mini-min.jpg" alt="gal-8"></a>
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-9-min.jpg"><img class="gallery__img" src="/src/images/mansory layout/gallery-mini/gal-9-mini-min.jpg" alt="gal-9"></a>
            </li>
            <li class="gallery__item">
                <a class="link" data-fslightbox="gallery" href="/src/images/mansory layout/gallery/gal-10-min.jpg"><img class="gallery__img" src="/src/images/mansory layout/gallery-mini/gal-10-mini-min.jpg" alt="gal-10"></a>
            </li>
        </ul>
    </div>
</section>