<header class="header" id="header">
    <div class="container">
        <a href="./index.html" ><img class="logo"src="./images/ice-cream-logo.png" alt="logo" width="199" height="50"></a>
        <button type="button" class="mob-menu__open" data-mob-menu-open><span></span></button>
        <div class="backdrop is-hidden" data-mob-back>
            <div class="mob-menu" data-menu >
                <button type="button" class="mob-menu__close" data-mob-menu-close><span></span></button>
                <button type="button" class="buy__btn buy__btn-mob" data-modal-1-open>Buy now <svg class="vector-icon" width="7" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="m1.74219 1 4.02515 4-4.02515 4" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></button>
                <nav class="mob-nav">
                    <ul class="list">
                        <li class="mob-nav__item"><a class="mob-nav__link" href="#header">Home</a></li>
                        <li class="mob-nav__item"><a class="mob-nav__link" href="#hero">About us</a></li>
                        <li class="mob-nav__item"><a class="mob-nav__link" href="#about">How it’s made?</a></li>
                        <li class="mob-nav__item"><a class="mob-nav__link" href="#products">Our products</a></li>
                        <li class="mob-nav__item"><a class="mob-nav__link" href="#contacts">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="nav__item"><a class="nav__link" href="#header">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#hero">About us</a></li>
                <li class="nav__item"><a class="nav__link" href="#about">How it’s made?</a></li>
                <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
                <li class="nav__item"><a class="nav__link" href="#contacts">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="buy__btn buy__btn-tab"  data-modal-1-open-header>Buy now <svg class="vector-icon" width="7" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="m1.74219 1 4.02515 4-4.02515 4" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></button>
        <button class="top-btn" onclick="topFunction()" id="myBtn" title="Go to top">
            <svg class="top__svg">
                <use href="./images/symbol-defs.svg#icon-top"></use>
            </svg>
        </button>
    </div>
</header>