<div class="about-backdrop is-hidden" data-modal-about>
    <div class="modal-about">
        <p class="modal-about__text">Danone, which makes Activia yoghurt, started sourcing milk from Punjab in 2012. Last year, the company set up Punjab
        2020, an initiative which educates farmers in ways to improve soil quality by reducing fertiliser use so it retains more
        water, and maximise milk production in the context of drought. About 7,000 farmers have already gone through the
        company’s Academilk training programme and it has invested €570,000 (508,000) to expand the programmes to 60 more
        villages. As part of Danone’s programme, the company provides communal chilling facilities, enabling those with even one or two
        cows to earn an income without having to invest in expensive coolers. “It is a win-win situation as it ensures a
        sustainable livelihood for the farmer while securing the milk supplies for Danone,” said a company spokesperson.</p>
        <button type="button" class="modal-about__btn-close" data-modal-about-close>Close</button>
    </div>
</div>
