<div class="backdrop is-hidden" data-modal>
  <div class="modal-buy">
    <button class="modal-buy__close" data-modal-close><span></span></button>
    <h3 class="modal-buy__title">Ordering</h3>
    <form>
      <div class="modal-buy__field">
        <label for="user-name" class="modal-buy__label">Name</label>
        <div class="modal-buy__input-div">
          <input
            id="user-name"
            class="modal-buy__input"
            type="text"
            name="user-name"
          />
        </div>
      </div>
      <div class="modal-buy__field">
        <label for="user-tel" class="modal-buy__label">Telephone</label>
        <div class="modal-buy__input-div">
          <input
            id="user-tel"
            class="modal-buy__input"
            type="tel"
            name="user-tel"
          />
        </div>
      </div>
      <div class="modal-buy__field">
        <label for="user-email" class="modal-buy__label">E-mail</label>
        <div class="modal-buy__input-div">
          <input
            id="user-email"
            class="modal-buy__input"
            type="email"
            name="user-email"
          />
        </div>
      </div>
      <div class="modal-buy__field">
        <label class="modal-buy__label">Choose your Treat!</label>
        <div class="modal-buy__select">
          <select name="Product" id="Type">
            <option value="icecream">Ice Cream</option>
            <option value="milkshake">Milkshake</option>
            <option value="icecoffee">Ice coffee</option>
          </select>
          <select name="Taste" id="taste">
            <option value="vanilla">Vanilla</option>
            <option value="chocolate">Chocolate</option>
            <option value="caramel">Caramel</option>
            <option value="bluberry">Bluberry</option>
            <option value="Strawberry">Strawberry</option>
            <option value="mango">Mango</option>
            <option value="banana">Banana</option>
            <option value="pineapple">Pineapple</option>
          </select>
          <select name="Quantity" id="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
      </div>

      <button type="submit" class="modal-buy__submit">Submit</button>
    </form>
  </div>
</div>
