<section class="products" id="products">
    <div class="products-container">
        <p class="products-title-top">100% natural</p>
        <h2 class="products-title-head">PRODUCTS</a></h2>
        <ul class="products-list">
            <li class="products__item products__item-ice">
                <h3 class="products-item-title">Ice Cream</h3>
                <ul class="products-dots-list">
                    <li class="products-dots-item">
                        <svg class="products-dots-icon" width="26" height="6">
                        <use href="./images/symbol-defs.svg#icon-dots"></use>
                    </li>
                </ul>
                <p class="products-item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Similique ad pariatur quis, accusamus nam impedit.<span id="adots"></span>
                    <span id="amore">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem sed sequi totam eligendi perspiciatis pariatur quasi
                    voluptates fugit accusantium autem?</span>
                </p>
                <button onclick="amoreFunction()" class="products-btn-more">
                    <svg class="products-icon-more" width="11" height="11" id="abtnOpen">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                    <svg class="products-icon-more" width="11" height="11" id="abtnClose">
                        <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item-coffee">
                <h3 class="products-item-title">Ice Coffee</h3>
                <ul class="products-dots-list">
                    <li class="products-dots-item">
                        <svg class="products-dots-icon" width="26" height="6">
                        <use href="./images/symbol-defs.svg#icon-dots"></use>
                    </li>
                </ul>
                <p class="products-item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Similique ad pariatur quis, accusamus nam impedit.<span id="bdots"></span>
                    <span id="bmore">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem sed sequi totam eligendi perspiciatis pariatur quasi
                    voluptates fugit accusantium autem?</span>
                </p>
                <button onclick="bmoreFunction()" class="products-btn-more">
                    <svg class="products-icon-more" width="11" height="11" id="bbtnOpen">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                    <svg class="products-icon-more" width="11" height="11" id="bbtnClose">
                        <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item-milk">
                <h3 class="products-item-title">Milkshakes</h3>
                <ul class="products-dots-list">
                    <li class="products-dots-item">
                        <svg class="products-dots-icon" width="26" height="6">
                        <use href="./images/symbol-defs.svg#icon-dots"></use>
                    </li>
                </ul>
                <p class="products-item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Similique ad pariatur quis, accusamus nam impedit.<span id="cdots"></span>
                    <span id="cmore">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem sed sequi totam eligendi perspiciatis pariatur quasi
                    voluptates fugit accusantium autem?</span>
                </p>
                <button onclick="cmoreFunction()" class="products-btn-more">
                    <svg class="products-icon-more" width="11" height="11" id="cbtnOpen">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                    <svg class="products-icon-more" width="11" height="11" id="cbtnClose">
                        <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>