<section class="products" id="products">
    <div class="products-container">
        <p class="products-title-top">100% natural</p>
        <h2 class="products-title-head"><a class="ancor" href="#products">PRODUCTS</a></h2>

        <ul class="products-list">
            <li class="products__item products__item-ice">
                <h3 class="products-item-title">Ice Cream</h3>
                <ul class="products-dots-list">
                    <li class="products-dots-item">
                      <svg class="products-dots-icon" width="26" height="6">
                      <use href="./images/symbol-defs.svg#icon-dots"></use>
                    </li>
                  </ul>
                <p class="products-item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Similique ad pariatur quis, accusamus nam impedit.
                </p>
                <button class="products-btn-more">
                    <svg class="products-icon-more" width="11" height="11">
                        <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item-coffee">
                <h3 class="products-item-title">Ice Cream</h3>
                <ul class="products-dots-list">
                    <li class="products-dots-item">
                      <svg class="products-dots-icon" width="26" height="6">
                      <use href="./images/symbol-defs.svg#icon-dots"></use>
                    </li>
                  </ul>
                <p class="products-item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Similique ad pariatur quis, accusamus nam impedit.
                </p>
                <button class="products-btn-more">
                    <svg class="products-icon-more" width="11" height="11">
                        <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item-milk">
                <h3 class="products-item-title">Ice Cream</h3>
                <ul class="products-dots-list">
                    <li class="products-dots-item">
                      <svg class="products-dots-icon" width="26" height="6">
                      <use href="./images/symbol-defs.svg#icon-dots"></use>
                    </li>
                  </ul>
                <p class="products-item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Similique ad pariatur quis, accusamus nam impedit.
                </p>
                <button class="products-btn-more">
                    <svg class="products-icon-more" width="11" height="11">
                        <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </li>




        </ul>
    </div>
</section>