body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Titan One', cursive;
    font-style: normal;
    color: #333333;
}

img {
    display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}