// <svg class="logo__icon" width="199" height="50"><use href="./images/logo.svg"></use></svg>
.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 9px;

  @include tablet {
    padding-top: 32px;
  }
  @include desktop {
    padding-top: 40px;
  }
}
.header .container {
  display: flex;
  align-items: center;
  @include desktop {
    justify-content: space-between;
  }
}

.nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--light-color);
  transition: color 250ms ease;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}
