.backdrop.is-hidden {
    opacity: 0;
     pointer-events: none;
     visibility: hidden;
    }
    
    .backdrop.is-hidden .modal-buy {
     transform: scale(0.5) translate(-50%, -50%);
      
     }
    .backdrop {
     position: fixed;
     z-index: 5;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
         
     background-color: rgba(225, 121, 146, 0.2); 
     transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
      
     overflow-y: scroll;
    }
    .modal-buy {
        position: absolute;
        padding: 30px;
        top: 50%;
        left: 50%;
        z-index: 10;
        
        max-height: 600px;
        background-color: var(--section-color-botom); 
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
        transform-origin: center;
        @include mobile {
          width: calc(100% - 30px);
        }
        @media screen and (min-width:530px) {
            width: 500px;
        }
        @media screen and (max-height: 600px) {
          top: 260px;
        }
        
        }
        .modal-buy__close {
            display: block;
            margin-left:auto;
            margin-bottom: 10px;
            border: none;
            background-color: transparent;
            position: relative;
            height: 22px;
            width: 22px;
           
            
            &:hover span::before, &:focus span::before, &:hover span::after, &:focus span::after {
                background-color:var(--hover-btn-dark);
                
            }
           
            span::before {
                content: "";
                position: absolute;
                top: 11px;
                left: 0;
                width: 100%;
                height: 1.5px;
                background-color: var(--section-color-mobmenu);
                transform: rotate(45deg);
                transition: background-color var(--main-transition);
            }
            span::after {
                content: "";
                position: absolute;
                top: 11px;
                left: 0;
                width: 100%;
                height: 1.5px;
                background-color: var(--section-color-mobmenu);
                transform: rotate(-45deg);
                transition: background-color var(--main-transition);
            }
        }
.modal-buy__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    color: var(--accent-color);

}
.modal-buy__label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: var(--section-color-mobmenu);
    transition: color 250ms ease;
}

.modal-buy__field:focus .modal-buy__label, 
.modal-buy__field:hover .modal-buy__label {
    color:var(--accent-color);
}
.modal-buy__input {
    width: 100%;
    height: 40px;
    border: 2px solid var(--section-color-top);
    border-radius: 12px;
    
    padding: 12px 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--accent-color);
    
    transition: border-color var(--main-transition), opacity var(--main-transition), visibility var(--main-transition);
     
    outline: none;

    &:hover, &:focus {
      border-color: var(--accent-color);
    }
    
    
  }
  

  .modal-buy__submit {
  display: block;
  margin: 0 auto;
   width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 12px; 
  border-color: transparent;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--light-color);
  cursor: pointer;
  transition: background-color var(--main-transition);
  outline: none;
  &:hover, &:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.modal-buy__select {
    display: flex;

    width: calc(100% - 10px);
    
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    @media screen and (min-width:530px) {
      font-size: 16px;
  }
  @include tablet {
    font-size: 18px;
  }
    option {
      color: var(--section-color-mobmenu);
     
    }
    select {
      color: var(--accent-color);
      border-color: var(--section-color-mobmenu);
      border-radius: 4px;
      outline: none;
      &:hover, &:focus{
        border-color: var(--accent-color);
      }
      &:last-child {
        min-width: 30px;
      }
    }
    select + select {
        min-width: 30px;
        margin-left: 5px;
        @media screen and (min-width:530px) {
          margin-left: 10px;
      }
    }
    
}