.modal__locations {
    position: absolute;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    border-radius: 24px;
    background-color: #FFF5F6;
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 480px) {
        padding: 40px 25px 25px 25px;
        width: 95vw;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1280px) {
        width: 528px;
        min-height: 581px;
    }
}

.adaptivny-slayder {
    position: relative;
    max-width: 900px;
    margin: 25px auto;
}

.adaptivny-slayder input[name="kadoves"] {
    display: none;
}

.kadoves {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

.kadoves label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 1px solid #D41443;
    background-color: #FFA5BA;
}

#slaid1:checked~.kadoves label[for="slaid1"] {
    background-color: #D41443;
}

#slaid2:checked~.kadoves label[for="slaid2"] {
    background-color: #D41443;
}

#slaid3:checked~.kadoves label[for="slaid3"] {
    background-color: #D41443;
}

.adaptivny-slayder-lasekun {
    overflow: hidden;
}

.abusteku-deagulus {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    transition: all 0.5s;
}

.abusteku-deagulus iframe {
    width: 100%;
    flex-shrink: 0;
}

#slaid1:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translate(0);
}

#slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-100%);
}

#slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
  transform: translateX(-200%);}
