.backdrop.is-hidden .modal {
    transform: scale(0);
}

.modal {
    position: absolute;
    padding: 40px;
    width: 450px;
    min-height: 609px;
    border-radius: 4px;
    background-color: var(--white-color);
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 480px) {
        width: 100vw;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.modal-field {
    margin-bottom: 10px;

    &.text {
        margin-bottom: 20px;
    }
}

.modal-input {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-color);
    margin-bottom: 4px;
}

.modal-user-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition);
}

.modal-user-coment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--transition);

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--title-text-color);
    transition: fill var(--transition);
}

.modal-field:focus-within .input-icon {
    fill: var(--accent-color);
}

.modal-field:focus-within .modal-user-input {
    outline: none;
    border-color: var(--accent-color);
}

.modal-field:focus-within .modal-user-coment {
    outline: none;
    border-color: var(--accent-color);
}

.check-text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.check-link {
    color: var(--accent-color);
}

.modal-field-accept {
    position: relative;
    display: block;
    color: var(--primary-color);
    margin-bottom: 30px;

    @media screen and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        padding-left: 24px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        padding-left: 36px;
    }
}

.input-accept {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
        left: 12px;
    }
}

.input-accept-hidden:checked~.input-accept {
    background-color: var(--accent-color);
    border: none;
    // background-image: url(../images/icon-accept.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.client-icon {
    transition: fill var(--transition);
}